
DemirbasTakipSistemi/obj/Debug/netcoreapp3.1/RazorDeclaration/Views/Shared/Component.razor.g.cs
*.v2
.vs/DemirbasTakipSistemi/v17/.suo
.vs/DemirbasTakipSistemi/v17/.suo
*.v2
*.v1
*.vsidx
*.vsidx
*.dll
*.pdb
*.pdb
*.cache
*.cache
*.dll
*.config
.vs/DemirbasTakipSistemi/v16/.suo
*.json
*.exe
*.pdb
*.dll
*.cache
*.txt
DemirbasTakipSistemi/bin/Debug/netcoreapp3.1/DemirbasTakipSistemi.dll
DemirbasTakipSistemi/bin/Debug/netcoreapp3.1/DemirbasTakipSistemi.Views.dll
DemirbasTakipSistemi/obj/Debug/netcoreapp3.1/DemirbasTakipSistemi.assets.cache
DemirbasTakipSistemi/obj/Debug/netcoreapp3.1/DemirbasTakipSistemi.csproj.AssemblyReference.cache
DemirbasTakipSistemi/obj/Debug/netcoreapp3.1/DemirbasTakipSistemi.GeneratedMSBuildEditorConfig.editorconfig
DemirbasTakipSistemi/Models/Context.cs
DemirbasTakipSistemi/Models/Context.cs
