
DemirbasTakipSistemi/obj/Debug/netcoreapp3.1/RazorDeclaration/Views/Shared/Component.razor.g.cs
*.v2
.vs/DemirbasTakipSistemi/v17/.suo
.vs/DemirbasTakipSistemi/v17/.suo
*.v2
*.v1
*.vsidx
*.vsidx
*.dll
*.pdb
*.pdb
*.cache
