
DemirbasTakipSistemi/obj/Debug/netcoreapp3.1/RazorDeclaration/Views/Shared/Component.razor.g.cs
*.v2
.vs/DemirbasTakipSistemi/v17/.suo
.vs/DemirbasTakipSistemi/v17/.suo
*.v2
*.v1
*.vsidx
*.vsidx
*.dll
*.pdb
*.pdb
*.cache
*.cache
*.dll
*.config
.vs/DemirbasTakipSistemi/v16/.suo
*.json
*.exe
*.pdb
*.dll
*.cache
*.txt
DemirbasTakipSistemi/bin/Debug/netcoreapp3.1/DemirbasTakipSistemi.dll
DemirbasTakipSistemi/bin/Debug/netcoreapp3.1/DemirbasTakipSistemi.Views.dll
DemirbasTakipSistemi/obj/Debug/netcoreapp3.1/DemirbasTakipSistemi.assets.cache
DemirbasTakipSistemi/obj/Debug/netcoreapp3.1/DemirbasTakipSistemi.csproj.AssemblyReference.cache
DemirbasTakipSistemi/obj/Debug/netcoreapp3.1/DemirbasTakipSistemi.GeneratedMSBuildEditorConfig.editorconfig
DemirbasTakipSistemi/Models/Context.cs
.vs/DemirbasTakipSistemi/DesignTimeBuild/.dtbcache.v2
DemirbasTakipSistemi/obj/Debug/netcoreapp3.1/Razor/Views/Setting/UserUpdate.cshtml.g.cs
DemirbasTakipSistemi/obj/Debug/netcoreapp3.1/Razor/Views/Setting/UserDelete.cshtml.g.cs
DemirbasTakipSistemi/obj/Debug/netcoreapp3.1/Razor/Views/Setting/UserAdd.cshtml.g.cs
DemirbasTakipSistemi/obj/Debug/netcoreapp3.1/Razor/Views/Setting/Index.cshtml.g.cs
DemirbasTakipSistemi/obj/Debug/netcoreapp3.1/Razor/Views/Project/ProjectList.cshtml.g.cs
DemirbasTakipSistemi/obj/Debug/netcoreapp3.1/Razor/Views/Product/ProductList.cshtml.g.cs
DemirbasTakipSistemi/obj/Debug/netcoreapp3.1/Razor/Views/Person/PersonList.cshtml.g.cs
DemirbasTakipSistemi/obj/Debug/netcoreapp3.1/Razor/Views/Category/CategoryList.cshtml.g.cs
DemirbasTakipSistemi/obj/Debug/netcoreapp3.1/DemirbasTakipSistemi.Views.pdb
DemirbasTakipSistemi/obj/Debug/netcoreapp3.1/DemirbasTakipSistemi.Views.dll
DemirbasTakipSistemi/obj/Debug/netcoreapp3.1/DemirbasTakipSistemi.pdb
DemirbasTakipSistemi/obj/Debug/netcoreapp3.1/DemirbasTakipSistemi.dll
DemirbasTakipSistemi/bin/Debug/netcoreapp3.1/DemirbasTakipSistemi.Views.pdb
DemirbasTakipSistemi/bin/Debug/netcoreapp3.1/DemirbasTakipSistemi.Views.dll
DemirbasTakipSistemi/bin/Debug/netcoreapp3.1/DemirbasTakipSistemi.pdb
DemirbasTakipSistemi/bin/Debug/netcoreapp3.1/DemirbasTakipSistemi.dll
.vs/ProjectEvaluation/demirbastakipsistemi.projects.v2
.vs/ProjectEvaluation/demirbastakipsistemi.metadata.v2
.vs/DemirbasTakipSistemi/v17/HierarchyCache.v1.txt
.vs/DemirbasTakipSistemi/v17/.suo
.vs/DemirbasTakipSistemi/DesignTimeBuild/.dtbcache.v2
