
@{
    ViewBag.Title = "CategoryList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Styles -->
<link href="~/Content/assets/css/lib/font-awesome.min.css" rel="stylesheet">
<link href="~/Content/assets/css/lib/themify-icons.css" rel="stylesheet">
<link href="~/Content/assets/css/lib/data-table/buttons.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/assets/css/lib/menubar/sidebar.css" rel="stylesheet">
<link href="~/Content/assets/css/lib/helper.css" rel="stylesheet">
<link href="~/Content/assets/css/lib/sweetalert/sweetalert.css" rel="stylesheet">


<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 p-r-0 title-margin-right">
                    <div class="page-header">
                        <div class="page-title">
                            <h1>ÜRÜN TAKİP SİSTEMİ | <span>Kategori Listesi</span></h1>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
                <div class="col-lg-4 p-l-0 title-margin-left">
                    <div class="page-header">
                        <div class="page-title">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <button class="btn-flat  btn-success  ti-plus" data-toggle="modal" data-target="#myModal">EKLE</button>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /# column -->

            </div>

            <!-- /# row -->
            <section id="main-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="bootstrap-data-table-panel">
                                <div class="table-responsive">
                                    <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Kategori No</th>
                                                <th>Kategori Adı</th>
                                                <th>Kayıt Sayısı</th>
                                                <th>İşlem</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Seri Numarası</td>
                                                <td>Sorumlu</td>
                                              
                                                <td>
                                                    <button class="btn-flat  btn-warning ti-pencil" data-target="#UpdateModal" data-toggle="modal"></button>
                                                   <button class="btn-flat btn-danger  sweet-confirm ti-trash "></button>



                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /# card -->
                    </div>
                    <!-- /# column -->
                </div>
            </section>
        </div>
    </div>
</div>

<!-- sidebar -->
<div aria-hidden="true" role="dialog" tabindex="-1" id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-left">
            <div class="modal-header">
                <h4 class="Sub-heading">Yeni Kategori</h4>
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button"><i class="ti-close"></i></button>

            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">

                                <label class="col-lg-4 control-label">Kategori Adı</label>
                                <div class="col-lg-8">

                                    <input type="text" class="form-control" placeholder="Kategori adı giriniz...">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-5 col-lg-7">
                                    @*<span class="btn green fileinput-button">
                    <i class="fa fa-plus fa fa-white"></i>
                    <span>Attachment</span>
                    <input type="file" name="files[]" multiple="">
                </span>*@
                                    <button class="btn btn-danger" type="submit"> Listeye Dön </button>
                                    <button class="btn btn-primary" type="submit"> Ekle </button>
                                </div>
                            </div>


                        </div>
                      
                    </div>
                   



                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div aria-hidden="true" role="dialog" tabindex="-1" id="UpdateModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-left">
            <div class="modal-header">
                <h4 class="Sub-heading">Kategori Güncelle</h4>
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button"><i class="ti-close"></i></button>

            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">

                                <label class="col-lg-4 control-label">Kategori Adı</label>
                                <div class="col-lg-8">

                                    <input type="text" class="form-control" placeholder="Kategori adı giriniz...">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-5 col-lg-7">
                                    @*<span class="btn green fileinput-button">
                                            <i class="fa fa-plus fa fa-white"></i>
                                            <span>Attachment</span>
                                            <input type="file" name="files[]" multiple="">
                                        </span>*@
                                    <button class="btn btn-danger" type="submit"> Listeye Dön </button>
                                    <button class="btn btn-primary" type="submit"> Ekle </button>
                                </div>
                            </div>


                        </div>

                    </div>




                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- bootstrap -->
<!-- scripit init-->
<script src="~/Content/assets/js/lib/data-table/datatables.min.js"></script>
<script src="~/Content/assets/js/lib/data-table/dataTables.buttons.min.js"></script>
<script src="~/Content/assets/js/lib/sweetalert/sweetalert.min.js"></script>
<script src="~/Content/assets/js/lib/sweetalert/sweetalert.init.js"></script>

<script src="~/Content/assets/js/lib/data-table/buttons.flash.min.js"></script>
<script src="~/Content/assets/js/lib/data-table/jszip.min.js"></script>
<script src="~/Content/assets/js/lib/data-table/pdfmake.min.js"></script>
<script src="~/Content/assets/js/lib/data-table/vfs_fonts.js"></script>
<script src="~/Content/assets/js/lib/data-table/buttons.html5.min.js"></script>
<script src="~/Content/assets/js/lib/data-table/buttons.print.min.js"></script>
<script src="~/Content/assets/js/lib/data-table/datatables-init.js"></script>


