
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="color:green">Hesap Ayarları</h1>
<div class="card-body">
    <div class="basic-elements">
        <form action="~/Setting/UsernamePasswordUpdate" method="post" class="form-horizontal">
            <div class="row">
                <div class="col-lg-6">
                    <button class="btn btn-group" style=""  type="submit"> Kullanıcı Adı ve Şifre Değiştir </button>
                </div>
            </div>
        </form>
    </div>
</div>