@using DemirbasTakipSistemi.Models.DataModel
@model Login

@{
    ViewData["Title"] = "UserUpdate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
<!-- Retina iPad Touch Icon-->
<link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
<!-- Retina iPhone Touch Icon-->
<link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
<!-- Standard iPad Touch Icon-->
<link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
<!-- Standard iPhone Touch Icon-->
<link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">

<!-- Styles -->
<link href="~/Content/assets/css/lib/font-awesome.min.css" rel="stylesheet">
<link href="~/Content/assets/css/lib/themify-icons.css" rel="stylesheet">
<link href="~/Content/assets/css/lib/menubar/sidebar.css" rel="stylesheet">
<link href="~/Content/assets/css/lib/bootstrap.min.css" rel="stylesheet">
<link href="~/Content/assets/css/lib/helper.css" rel="stylesheet">
<link href="~/Content/assets/css/style.css" rel="stylesheet">
<div class="card-body">
    <div class="basic-elements">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-title">
                        <h4>Kullanıcı Güncelle</h4>

                    </div>
                    <div class="card-body">
                        <div class="basic-elements">
                            <form action="~/Setting/UserUpdate" method="post" class="form-horizontal">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input type="hidden" class="form-control" name="PersonID" value=@Model.Id>
                                            <label class="col-lg-4 control-label">Kullanıcı Adı</label>
                                            <div class="col-lg-8">
                                                <input type="text" class="form-control" name="Username" value=@Model.Username>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Kullanıcı Rolü Id (<h7>1-Admin 2-User</h7>)</label>
                                            <div class="col-lg-9">
                                                <input type="number" class="form-control" name="RoleId" min="1" max="2" value=@Model.RoleId>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-lg-offset-5 col-lg-7">
                                                <a asp-controller="Setting" asp-action="Index" type="submit" class="btn btn-danger" style="width:150px">
                                                    Listeye Dön
                                                </a>
                                                <button class="btn btn-primary" type="submit"> Güncelle </button>
                                            </div>
                                        </div>


                                    </div>

                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /# column -->
            <!-- /# column -->
        </div>
    </div>
</div>
<script src="~/Content/assets/js/lib/jquery.nanoscroller.min.js"></script>

<script src="~/Content/assets/js/lib/preloader/pace.min.js"></script>
<!-- sidebar -->
<!-- bootstrap -->
<!-- scripit init-->
