@using DemirbasTakipSistemi.Models.DataModel

@model Person
@{
    ViewBag.Title = "PersonInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
<!-- Retina iPad Touch Icon-->
<link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
<!-- Retina iPhone Touch Icon-->
<link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
<!-- Standard iPad Touch Icon-->
<link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
<!-- Standard iPhone Touch Icon-->
<link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">

<!-- Styles -->
<link href="~/Content/assets/css/lib/font-awesome.min.css" rel="stylesheet">
<link href="~/Content/assets/css/lib/themify-icons.css" rel="stylesheet">
<link href="~/Content/assets/css/lib/menubar/sidebar.css" rel="stylesheet">
<link href="~/Content/assets/css/lib/bootstrap.min.css" rel="stylesheet">
<link href="~/Content/assets/css/lib/helper.css" rel="stylesheet">
<link href="~/Content/assets/css/style.css" rel="stylesheet">
<div class="card-body" style="font-size:15px; font-style:normal;color:black">
    <div class="basic-elements">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-title">
                        <h4>Personel Bilgi</h4>
         
                    </div>
                    <div class="card-body">
                        <div class="basic-elements">
                            <form action="~/Person/PersonUpdate"method="post" class="form-horizontal">
                             <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                 <input type="hidden" class="form-control" name="PersonID" value=@Model.PersonID readonly>
                                <label class="col-lg-4 control-label">Personel Adı</label>
                                <div class="col-lg-8">

                                    <input type="text" class="form-control" style="font-size:13px" name="PersonName" value=@Model.PersonName readonly>
                                </div>
                            </div>
                            <div class="form-group">

                                <label class="col-lg-4 control-label">Personel İletişim</label>
                                <div class="col-lg-8">

                                    <input type="tel" pattern="[0-9]-{3}[0-9]{3}[0-9]-{4}"  class="form-control" style="font-size:13px" name="PersonContact" value=@Model.PersonContact readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-5 col-lg-7">
                                    @*<span class="btn green fileinput-button">
                                            <i class="fa fa-plus fa fa-white"></i>
                                            <span>Attachment</span>
                                            <input type="file" name="files[]" multiple="">
                                        </span>*@
                                        
                                    <a asp-controller="Person" asp-action="PersonsList" type="submit" class="btn btn-danger" style="width:150px;font-size:15px">
                                        Listeye Dön
                                    </a>
                                </div>
                            </div>


                        </div>

                    </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /# column -->
            <!-- /# column -->
        </div>
        </div>
    </div>
        <script src="~/Content/assets/js/lib/jquery.nanoscroller.min.js"></script>

        <script src="~/Content/assets/js/lib/preloader/pace.min.js"></script>
        <!-- sidebar -->
        <!-- bootstrap -->
        <!-- scripit init-->
